<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{TITLE}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
<div id="wrapper">
    <header>
        <nav id="toplinks">
            <ul>
                <li><a href="index.php" target="_self">Home &#124;</a></li>
                <li><a href="index.php?page=artists" target="_self">Artists &#124;</a></li>
                <li><a href="index.php?page=songs" target="_self">Songs</a></li>
            </ul>
        </nav>

        <nav id="mainnav">
            <ul>
                <li><a href="index.php" target="_self">Home</a></li>
                <li><a href="index.php?page=artists" target="_self">Artists</a></li>
                <li><a href="index.php?page=songs" target="_self">Songs</a></li>
            </ul>
        </nav>
    </header>